<div class="topcoat-navigation-bar">
	<div class="topcoat-navigation-bar__item center full">
		<h1 class="topcoat-navigation-bar__title">{{ 'TITLE' | translate }}</h1>
	</div>
</div>


<footer>
	<div class="topcoat-navigation-bar">
		<div class="topcoat-navigation-bar__item left half">
			<a class="topcoat-icon-button--large--quiet"> <span
				class="topcoat-icon--large home-icon"></span>
			</a>
		</div>
		<div class="topcoat-navigation-bar__item right half">
			<a class="topcoat-icon-button--large--quiet"> <span
				class="topcoat-icon--large settings-icon"></span>
			</a>
		</div>
	</div>
</footer>