<div class="topcoat-navigation-bar">
	<div class="topcoat-navigation-bar__item center full">
		<h1 class="topcoat-navigation-bar__title">{{ 'homeTitle' | translate }}</h1>
	</div>
</div>

<div data-role="fieldcontain">
	<input illyum-date-selector name="illyumDateSelector" class="illyumDateSelector topcoat-text-input" />
</div>

<footer>
	<div class="topcoat-navigation-bar">
		<div class="topcoat-navigation-bar__item left half">
			<a class="topcoat-icon-button--large--quiet"> <span
				class="topcoat-icon--large home-icon"></span>
			</a>
		</div>
		<div class="topcoat-navigation-bar__item right half">
			<a class="topcoat-icon-button--large--quiet" ng-click="slidePage('/settings')"> <span
				class="topcoat-icon--large settings-icon"></span>
			</a>
		</div>
	</div>
</footer>