<header>
	<div class="topcoat-navigation-bar">
		<div class="topcoat-navigation-bar__item center full">
			<h1 class="topcoat-navigation-bar__title">Lectura</h1>
		</div>
	</div>
</header>

<div scroll-bar-directive style='font-size: {{fontSize}}'>{{text}}</div>
	
<footer>
	<div class="topcoat-navigation-bar">
		<div class="topcoat-navigation-bar__item left quarter">
			<button class="topcoat-icon-button--large--quiet">
				<span class="topcoat-icon--large home-icon"></span>
			</button>
		</div>
		<div class="topcoat-navigation-bar__item left quarter">
			<button class="topcoat-icon-button--large--quiet" ng-click="back()">
				<span class="topcoat-icon--large back-icon"></span>
			</button>
		</div>
		<div class="topcoat-navigation-bar__item left quarter">
			<button class="topcoat-icon-button--large--quiet"
				ng-click="minFontSize()" ng-disabled="applyMinDisabled">
				<span class="topcoat-icon--large magnifier-minus-icon"></span>
			</button>
		</div>
		<div class="topcoat-navigation-bar__item left quarter">
			<button class="topcoat-icon-button--large--quiet"
				ng-click="plusFontSize()" ng-disabled="applyPlusDisabled">
				<span class="topcoat-icon--large magnifier-plus-icon"></span>
			</button>
		</div>
	</div>
</footer>