@CHARSET "UTF-8";

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	left: 0px;
	right: 0px;
	z-index: 1000;
}

.readHeader {
	text-shadow: 2px 2px 3px #999;
}

.readHeader ul {
	list-style: none;
	padding-left: 0px;
	font-weight: bold;
}

.readHeader ul li:nth-child(1) {
	
}

.readHeader ul li:nth-child(2) {
	
}

.readHeader ul li:nth-child(3) {
	
}

.content {
	overflow-y: visible;
	overflow-x: hidden;
	padding: 1rem;
	padding-bottom: 5.5rem;
}

.six {
	width: 16.6666%;
}

.home-icon {
	background: url("img/home.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.facebook-icon {
	background: url("img/facebook.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.twitter-icon {
	background: url("img/twitter.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.magnifier-minus-icon {
	background: url("img/magnifier-minus.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.magnifier-plus-icon {
	background: url("img/magnifier-plus.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.exit-icon {
	background: url("img/exit.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.settings-icon {
	background: url("img/settings.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.back-icon {
	background: url("img/back.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}