.topcoat-navigation-bar__title {
	font-weight: bold !important;
	color: #fff !important;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0px;
	right: 0px;
	z-index: 1000;
	display: block !important;
}

.mb-page {
	background: linear-gradient(#FAFAFA, #FAFAFA) repeat scroll 0% 0%
		#FAFAFA;
}

.content {
	overflow-y: visible;
	overflow-x: hidden;
	padding: 0 1rem;
}

.textViewer {
	height: 100%;
	padding-right: 1rem;
}

.textViewerFooter {
/* 	height: 15% */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
/* 	.textViewer { */
/* 		height: 80%; */
/* 		padding-right: 1rem; */
/* 	} */
	
/* 	.textViewerFooter { */
/* 		height: 20% */
/* 	} */
}

.readContent {
	height: inherit;
	text-shadow: 0px 1px 0px #EEE;
}

.readHeader {
	text-shadow: 2px 2px 3px #999;
}

.readHeader ul {
	list-style: none;
	padding-left: 0px;
	font-weight: bold;
}

.readHeader ul li:nth-child(1) {
	
}

.readHeader ul li:nth-child(2) {
	
}

.readHeader ul li:nth-child(3) {
	
}

.readBoby {
	text-align: left;
}

.readBoby p {
	margin-bottom: 0.5rem;
	margin-top: 0rem;
}

.highContrast {
	background: black !important;
	color: white !important;
}

.icons {
	color: #9BDA6A;
	font-size: 2rem;
}

.iconsHighContrast {
	color: white !important;
	font-size: 2rem !important;
}

.five {
	width: 20%;
}

.six {
	width: 16.6666%;
}

.text-viewer-footer.ng-hide-add,
.text-viewer-footer.ng-hide-remove {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;

  /* remember to add this */
  display:block!important;
  opacity:1;
}

.text-viewer-footer.ng-hide {
  opacity:0;
}

