.topcoat-navigation-bar__title {
	font-weight: bold !important;
	color: #fff !important;
}

footer {
	position: fixed;
	bottom: -0.8px;
	width: 100%;
	left: 0px;
	right: 0px;
	z-index: 1000;
	display: block !important;
}

.readHeader {
	text-shadow: 2px 2px 3px #999;
}

.readHeader ul {
	list-style: none;
	padding-left: 0px;
	font-weight: bold;
}

.readHeader ul li:nth-child(1) {
	
}

.readHeader ul li:nth-child(2) {
	
}

.readHeader ul li:nth-child(3) {
	
}

.readBoby {
	text-align: justify;
}

.readBoby p {
	margin-bottom: 0.5rem;
	margin-top: 0rem;
}

.readContent {
	background: linear-gradient(#FAFAFA, #FAFAFA) repeat scroll 0% 0%
		#FAFAFA;
	text-shadow: 0px 1px 0px #EEE;
}

.highContrast {
	background: black !important;
	color: white !important;
}

.icons {
	color: #9BDA6A;
	font-size: 2rem;
}

.iconsHighContrast {
	color: white !important;
	font-size: 2rem !important;
}

.content {
	overflow-y: visible;
	overflow-x: hidden;
	padding: 1rem;
	padding-top: 0rem;
	padding-bottom: 5.5rem;
}

.five {
	width: 20%;
}

.six {
	width: 16.6666%;
}

.home-icon {
	background: url("../images/home.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.facebook-icon {
	background: url("../images/facebook.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.twitter-icon {
	background: url("../images/twitter.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.magnifier-minus-icon {
	background: url("../images/magnifier-minus.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.magnifier-plus-icon {
	background: url("../images/magnifier-plus.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.exit-icon {
	background: url("../images/exit.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.settings-icon {
	background: url("../images/settings.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.back-icon {
	background: url("../images/back.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}